In [1]:
import pandas as pd
import os

In [14]:
df=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Bengali1')]
df['File']=files
df['Language']="Bengali"
df

         File Language
0    3616.mp3  Bengali
1    3617.mp3  Bengali
2    3618.mp3  Bengali
3    3619.mp3  Bengali
4    3620.mp3  Bengali
..        ...      ...
610  4226.mp3  Bengali
611  4227.mp3  Bengali
612  4228.mp3  Bengali
613  4229.mp3  Bengali
614  4230.mp3  Bengali

[615 rows x 2 columns]

In [15]:
df1=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Gujrathi1')]
df1['File']=files
df1['Language']="Gujrathi"
df1

         File  Language
0    6911.mp3  Gujrathi
1    6912.mp3  Gujrathi
2    6913.mp3  Gujrathi
3    6914.mp3  Gujrathi
4    6915.mp3  Gujrathi
..        ...       ...
619  7530.mp3  Gujrathi
620  7531.mp3  Gujrathi
621  7532.mp3  Gujrathi
622  7533.mp3  Gujrathi
623  7534.mp3  Gujrathi

[624 rows x 2 columns]

In [16]:
df2=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Hindi1')]
df2['File']=files
df2['Language']="Hindi"
df2

         File Language
0    3625.mp3    Hindi
1    3626.mp3    Hindi
2    3627.mp3    Hindi
3    3628.mp3    Hindi
4    3629.mp3    Hindi
..        ...      ...
603  4228.mp3    Hindi
604  4229.mp3    Hindi
605  4230.mp3    Hindi
606  4231.mp3    Hindi
607  4232.mp3    Hindi

[608 rows x 2 columns]

In [17]:
df3=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Kannada1')]
df3['File']=files
df3['Language']="Kannada"
df3

         File Language
0    6728.mp3  Kannada
1    6729.mp3  Kannada
2    6730.mp3  Kannada
3    6731.mp3  Kannada
4    6732.mp3  Kannada
..        ...      ...
598  7326.mp3  Kannada
599  7327.mp3  Kannada
600  7328.mp3  Kannada
601  7329.mp3  Kannada
602  7330.mp3  Kannada

[603 rows x 2 columns]

In [18]:
df4=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Punjabi1')]
df4['File']=files
df4['Language']="Punjabi"
df4

         File Language
0    3633.mp3  Punjabi
1    3634.mp3  Punjabi
2    3635.mp3  Punjabi
3    3636.mp3  Punjabi
4    3637.mp3  Punjabi
..        ...      ...
615  4248.mp3  Punjabi
616  4249.mp3  Punjabi
617  4250.mp3  Punjabi
618  4251.mp3  Punjabi
619  4252.mp3  Punjabi

[620 rows x 2 columns]

In [19]:
df5=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Urdu1')]
df5['File']=files
df5['Language']="Urdu"
df5

         File Language
0    3634.mp3     Urdu
1    3635.mp3     Urdu
2    3636.mp3     Urdu
3    3637.mp3     Urdu
4    3638.mp3     Urdu
..        ...      ...
615  4249.mp3     Urdu
616  4250.mp3     Urdu
617  4251.mp3     Urdu
618  4252.mp3     Urdu
619  4253.mp3     Urdu

[620 rows x 2 columns]

In [20]:
df6=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Tamil1')]
df6['File']=files
df6['Language']="Tamil"
df6

         File Language
0    6462.mp3    Tamil
1    6463.mp3    Tamil
2    6464.mp3    Tamil
3    6465.mp3    Tamil
4    6466.mp3    Tamil
..        ...      ...
602  7064.mp3    Tamil
603  7065.mp3    Tamil
604  7066.mp3    Tamil
605  7067.mp3    Tamil
606  7068.mp3    Tamil

[607 rows x 2 columns]

In [21]:
df7=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Malyalam1')]
df7['File']=files
df7['Language']="Malyalam"
df7

         File  Language
0    5303.mp3  Malyalam
1    5304.mp3  Malyalam
2    5305.mp3  Malyalam
3    5306.mp3  Malyalam
4    5307.mp3  Malyalam
..        ...       ...
603  5906.mp3  Malyalam
604  5907.mp3  Malyalam
605  5908.mp3  Malyalam
606  5909.mp3  Malyalam
607  5910.mp3  Malyalam

[608 rows x 2 columns]

In [22]:
df8=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Marathi1')]
df8['File']=files
df8['Language']="Marathi"
df8

         File Language
0    3632.mp3  Marathi
1    3633.mp3  Marathi
2    3634.mp3  Marathi
3    3635.mp3  Marathi
4    3636.mp3  Marathi
..        ...      ...
603  4235.mp3  Marathi
604  4236.mp3  Marathi
605  4237.mp3  Marathi
606  4238.mp3  Marathi
607  4239.mp3  Marathi

[608 rows x 2 columns]

In [23]:
df9=pd.DataFrame()
files=[file for file in os.listdir('./Data/Train/Telugu1')]
df9['File']=files
df9['Language']="Telugu"
df9

         File Language
0    5085.mp3   Telugu
1    5086.mp3   Telugu
2    5087.mp3   Telugu
3    5088.mp3   Telugu
4    5089.mp3   Telugu
..        ...      ...
598  5683.mp3   Telugu
599  5684.mp3   Telugu
600  5685.mp3   Telugu
601  5686.mp3   Telugu
602  5687.mp3   Telugu

[603 rows x 2 columns]

In [24]:
data=pd.DataFrame()
data=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9])
data

         File Language
0    3616.mp3  Bengali
1    3617.mp3  Bengali
2    3618.mp3  Bengali
3    3619.mp3  Bengali
4    3620.mp3  Bengali
..        ...      ...
598  5683.mp3   Telugu
599  5684.mp3   Telugu
600  5685.mp3   Telugu
601  5686.mp3   Telugu
602  5687.mp3   Telugu

[6116 rows x 2 columns]

In [25]:
data.to_csv('list2.csv',index=True)